{% extends 'core/header.html' %}

{% block content %}
<div class="container">
      <table>
        <thead>
          <tr>
              <th>Plant Name</th>
              <th>Plant Desc</th>
              <th> Plant Price </th>
              <th>Modify</th>
          </tr>
        </thead>
        
        {% for plant in plants %}
        <tbody>
          <tr>
            <td>{{ plant.plant_name}}</td>
            <td>{{ plant.plant_desc}}</td>
            <td>{{ plant.plant_price}}</td>
            
          </tr>
        </tbody>
        {% endfor %}
        <th>
          <td><td></td></td>
          <td><button><a href="/nursery/add-plant/">Add</a></button></td>
        </th>
      </table>
    
</div>



{% endblock content %}