{% extends 'core/header.html' %}

{% block content %}
<div class="container">
      <table>
        <thead>
          <tr>
              <th>Plant Name</th>
              <th>Plant Desc</th>
              <th> Plant Price </th>
              <th>Modify</th>
          </tr>
        </thead>
        
        {% for order in orders %}
          {% for plant in order.plants_op.all %}
            <tbody>
              <tr>
                <td>{{ plant.plant_name}}</td>
                <td>{{ order.buyer_op}}</td>
                <td></td> 
                <!-- <td><button><a href="/buyer/delete-item/{{order.pk}}">delete</a></button></td>
                -->
              </tr>
            </tbody>
          {% endfor %}
        {% endfor %}
      </table>
    
</div>



{% endblock content %}