{% extends 'core/header.html' %}

{% block content %}
<div class="container">
      <table>
        <thead>
          <tr>
              <th>Plant Name</th>
              <th>Plant Desc</th>
              <th> Plant Price </th>
              <th>Modify</th>
          </tr>
        </thead>
        
        {% for order in orders.plants.all %}
        <tbody>
          <tr>
            <td>{{ order.plant_name}}</td>
            <td>{{ order.plant_desc}}</td>
            <td>{{ order.plant_price}}</td>
            <td><button><a href="/buyer/delete-item/{{order.pk}}">delete</a></button></td>
            
          </tr>
        </tbody>
        {% endfor %}
      </table>
    
</div>



{% endblock content %}